@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*:before,
*:after {
  transition: background-color 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in, box-shadow 0.2s ease-in, transform 0.2s ease-in;
}

:root {
  --gradient-start: #77C9D4; /* Helles Türkis */
  --gradient-end: #0e4b31;   /* Frisches Grün */
  --card-bg-color: #ffffff;  /* Weiß bleibt unverändert */
  --text-color: #015249;     /* Dunkelgrün für Text */
  --subtitle-color: #57BC90; /* Frisches Grün für Untertitel */
  --input-bg-color: #fff; /* Neutraler Grauton */
  --input-border-color: #77C9D4; /* Helles Türkis für Input-Ränder */
  --button-bg-color: #57BC90; /* Frisches Grün für Buttons */
  --secondary-button-bg-color: #015249;
  --button-text-color: #ffffff; /* Weiß bleibt unverändert */
  --link-color: #015249; /* Dunkelgrün für Links */
  --shadow-color: rgba(1, 82, 73, 0.2); /* Leichter Schatten in Dunkelgrün */
  --highlight-color: #77C9D4; /* Helles Türkis für Highlights */
  --muted-text-color: #A5A5AF; /* Neutraler Grauton für dezente Texte */
  --font-family-default: 'Inter', Arial, sans-serif;
  --font-family-heading: 'Inter', sans-serif;
  --spacing-xs: 0.25rem; /* Sehr kleiner Abstand */
  --spacing-sm: 0.5rem;  /* Kleiner Abstand */
  --spacing-md: 1rem;    /* Mittlerer Abstand */
  --spacing-lg: 2rem;    /* Großer Abstand */
  --spacing-xl: 3rem;    /* Sehr großer Abstand */
  --correct-color: #57BC90;    /* Frisches Grün für korrekte Antworten */
  --incorrect-color: #d83129;
  --save-color: #57BC90;   /* Frisches Grün */
  --delete-color: #d83129; /* Kräftiges Rot */
  --cancel-color: #A5A5AF; /* Neutraler Grauton */
  --border-radius: 0.5rem;
}

[data-theme='dark'] {
  --gradient-start: #111214; /* Tiefes Schwarz */
  --gradient-end: #cdc5b8;   /* Weiches Beige */
  --card-bg-color: #111214;  /* Tiefes Schwarz für Kartenhintergrund */
  --text-color: #cdc5b8;     /* Helles Beige für Text */
  --subtitle-color: #cdc5b8; /* Gleiches helles Beige für Untertitel */
  --input-bg-color: #111214; /* Sehr dunkles Grau für Inputs */
  --input-border-color: #cdc5b8; /* Helles Beige für Input-Ränder */
  --button-bg-color: #d83129; /* Kräftiges Rot für Buttons */
  --secondary-button-bg-color: #015249;
  --button-text-color: #cdc5b8; /* Tiefes Schwarz für Button-Text */
  --link-color: #d83129; /* Kräftiges Rot für Links */
  --shadow-color: rgba(17, 18, 20, 0.5); /* Leichter Schatten in Schwarz */
  --highlight-color: #900700; /* Kräftiges Rot für Highlights */
  --muted-text-color: #5a5a5a; /* Dezentes Grau für weniger wichtige Texte */
  --font-family-default: 'Inter', Arial, sans-serif;
  --font-family-heading: 'Inter', sans-serif;
  --spacing-xs: 0.25rem; /* Sehr kleiner Abstand */
  --spacing-sm: 0.5rem;  /* Kleiner Abstand */
  --spacing-md: 1rem;    /* Mittlerer Abstand */
  --spacing-lg: 2rem;    /* Großer Abstand */
  --spacing-xl: 3rem;    /* Sehr großer Abstand */
  --correct-color: #ffb339;    /* Helles Beige für korrekte Antworten im dunklen Thema */
  --incorrect-color: #d83129; 
  --save-color: #ffb339;   /* Beige-Gelb für dunkles Thema */
  --delete-color: #d83129; /* Kräftiges Rot */
  --cancel-color: #5a5a5a; /* Dezentes Grau */
  --border-radius: 0.5rem;
}
